## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. Scipy

|Data Science Tools|
|-----|
|anaconda|
|jupyter notebook|
|R studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [3]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

### Objectives:
- List some popular languages in Data Science
- Create Jupyter Noteboook file
- Do some simple arithmetic

## Author
Lam Tran